<div id= "heading" class="text-center py-4">
  <h1 class="page-title">Create a new Todo</h1>
</div>

<div class="mx-4 md:mx-0">
<%= render "form", todo: @todo %>
<div class=" flex justify-center my-4">
  <%= link_to "Back to todos", todos_path,class: "form-submit bg-gray-400 "%>
</div>

</div>