<div id= "heading" class="text-center py-4">
  <h1 class="text-4xl font-bold text-gray-900 ">Create a new Todo</h1>
</div>

<div class="mx-4 md:mx-0">
<%= render "form", todo: @todo %>
<div class=" flex justify-center my-4">
  <%= link_to "Back to todos", todos_path,class: "font-bold text-center uppercase md:text-2xl py-3 px-12 rounded-lg bg-gray-400 text-white"%>
</div>

</div>