<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-5 ">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <%= link_to "Todos", root_path,class: "font-semibold text-2xl tracking-tight" %>
    </div>
    <div class="md:w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow pb-2 md:pb-0">
        <%= link_to "Create Todo", new_todo_path,class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 " %>
      </div>
    </div>
  </nav>